{{#if error}}
<p>An error had been occured</p>
{{/if}}
<form action="/create" method="post">
    <div class="field flex flex-col">
        <label class="mb-2" for="iname">Product Name</label>
        <input type="text" id="iname" name="name" class="p-2 border outline-none rounded" value="{{product.name}}" required/>
    </div>
    <div class="field mb-3 flex flex-col">
        <label class="mb-2" for="iqty">Stock quantity</label>
        <input type="number" id="iqty" name="qty" class="p-2 border outline-none rounded" value="{{product.qty}}" required/>
    </div>
    <div class="field mb-3 flex flex-col">
        <label class="mb-2" for="iqcomment">Description</label>
        <input type="text" id="icomment" name="description" class="p-2 border outline-none rounded" value="{{product.description}}" required/>
    </div>
    <div class="commands mb-3 flex flex-row">
        <button class="p-2 bg-violet text-white m-2 rounded" type="button" onclick="window.location.href='/'">Cancel</button>
        <button class="p-2 bg-violet text-white m-2 rounded" type="submit">Submit</button>
    </div>
</form>