<h1 class="m-2">Produits choisi</h1>
<p class="m-2"> nom produit : {{product.name}}</p>
<p class="m-2"> qantité : {{product.qty}}</p>

<p class="m-2"> description : {{product.description}}</p>

<a href='/edit/{{product._id}}'> <button class="bg-violet" style="padding: 5px 10px;border: none; border-radius: 10px;color:white;">Modifier</button> </a>


<a href="/"><button class="bg-violet" style="padding: 5px 10px;border: none; border-radius: 10px;color:white;">BACK</button></a> 