<h1>Produits choisi</h1>
<p> nom produit : {{product.name}}</p>
<p> qantité : {{product.qty}}</p>

<p> description : {{product.description}}</p>

<a href='/edit/{{product.id}}'> <button style="padding: 5px 10px;border: none; border-radius: 10px;color:white; background:hsl(0, 0%, 19%);">Modifier</button> </a>


<a href="/"><button style="padding: 5px 10px;border: none; border-radius: 10px;color:white; background:hsl(0, 0%, 19%);">BACK</button></a> 